<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Estadísticas</h1>
        <h5> {{fecha|date:'longDate' }} </h5>
    </div>

    <div>
        <!-- Filter  -->
        <div class="filters mb-3">
            <div class="row d-flex">

                <div class="col-md-12 tabPading">
                    <nav mat-tab-nav-bar>
                        <a mat-tab-link routerLink="/statistics/orders">Por pedidos </a>
                        <a mat-tab-link routerLink="/statistics/vehicles" active="activeLink" routerLinkActive="active">Por Vehiculos </a>
                        <a mat-tab-link routerLink="/statistics/delivery">Por Repartidores </a>
                        <a mat-tab-link routerLink="/statistics/client">Por Clientes </a>
                    </nav>
                </div>
            </div>
        </div>


    </div>
</div>