<div class="container-fluid">


    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Crear una Promoción</h1>
    </div>

    <div class="row d-flex justify-content-lg-center">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="p-b-10">Envío gratis</h4>
                    <p class="p-b-30 tex">Otorga envío sin costo a clientes seleccionados.</p>
                    <button type="button" class="btn btn-success" routerLink="/promotions/shipping">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
</div>