<div class="row">

    <!-- Project Card Example -->
    <div class="col-lg-12 mb-4">

        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Pedidos entregados</h6>
            </div>
            <!-- Table the vehicles  -->
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Servicio</th>
                            <th>Precio del servicio </th>
                            <th>Fecha del servicio </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let deliver of delivery.history_orders">
                            <td> {{ deliver.service }} </td>
                            <td> {{ deliver.service_price }} </td>
                            <td> {{ deliver.order_date | date }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>