<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Vehículos Bloqueados</h1>
    </div>

    <div>
        <!-- Filter  -->
        <div class="filters mb-3">
            <div class="row d-flex justify-content-end">

                <div class="col-md-12 tabPading">
                    <mat-tab-group>
                        <mat-tab label="Activos">
                            <!-- <app-view-vehhicles></app-view-vehhicles> -->
                        </mat-tab>
                        <mat-tab label="Inactivos">
                            <!-- <app-view-vehicles-block></app-view-vehicles-block> -->
                        </mat-tab>
                    </mat-tab-group>
                </div>


                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam vero at ullam consequuntur, sint temporibus cum. Quas adipisci repellendus, nobis illum error quo, blanditiis nemo sapiente consectetur sint alias accusantium?</p>
                </div>

            </div>
        </div>
    </div>