<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Vehículos Bloqueados</h1>
    </div>

    <div>
        <div class="filters mb-3">
            <div class="row d-flex justify-content-end">
                <div class="col-md-12 tabPading">
                    <nav mat-tab-nav-bar>
                        <a mat-tab-link routerLink="/vehicles/active">Activos </a>
                        <a mat-tab-link routerLink="/vehicles/block" active="activeLink">Bloqueados </a>
                    </nav>
                </div>
                <div class="col-lg-9">
                </div>

                <!-- Search vehicles -->
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <input #searchInput (keyup.enter)="searchBy(searchInput.value)" type="text" class="form-control fm-size" placeholder="Buscar por alias o modelo" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-prepend cursor" (click)="searchBy(searchInput.value)">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- End Search vehicles -->
            </div>
        </div>


        <div class="row" class="content">

            <!-- Paginator  -->
            <div class="col-lg-12 d-flex justify-content-end">
                <mat-paginator [disabled]="loadingVehicles || vehicles.length==0" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getPages($event)">
                    </mat-paginator>
            </div>
            <!-- End Paginator  -->


            <!-- Preloader  -->
            <div class="col-lg-12 d-flex justify-content-center" *ngIf="loadingVehicles">
                <div class="spinner-border text-primary my-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- End Preloader  -->


            <!-- Table vehicles  -->
            <div class="col-md-12" *ngIf="!loadingVehicles && vehicles.length > 0 ">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Alias </th>
                            <th scope="col">Tipo de vehiculo </th>
                            <th scope="col">Modelo </th>
                            <th scope="col">Año </th>
                            <th scope="col">Placa </th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let vehicle of vehicles">
                            <td> {{ vehicle.alias | titlecase }} </td>
                            <td>
                                <span *ngIf="vehicle.type_vehicle_id == '1'"> <span class="badge badge-pill badge-secondary">Motocicleta</span></span>
                                <span *ngIf="vehicle.type_vehicle_id == '2'"> <span class="badge badge-pill badge-primary">Bicicleta</span></span>
                                <span *ngIf="vehicle.type_vehicle_id == '3'"> <span class="badge badge-pill badge-success">Automovil</span></span>
                            </td>

                            <td> {{ vehicle.model}} </td>
                            <td> {{ vehicle.year }} </td>
                            <td> {{ vehicle.plate}} </td>
                            <td class="text-center bt-edit">
                                <button class="btn bt-edit" (click)="desbloquear(vehicle)">
                                    <i class="fas fa-unlock-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Fin table the vehicles  -->

            <!-- Component the message -->
            <app-no-found-data *ngIf="!loadingVehicles && vehicles.length == 0"  [message]="'No hay vehiculos que mostrar'">
            </app-no-found-data>
            <!-- Fin component message -->

        </div>
    </div>
</div>