<div class="app">
    <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-image: url('assets/img/login-3.png')">
        <div class="d-flex flex-column justify-content-between w-100">
            <div class="d-none d-md-flex p-h-40">
                <img src="assets/img/los_pedi.svg" width="110" alt="logo-pedidos">
            </div>
            <div class="container d-flex justify-content-center h-100">
                <div class="row align-items-center w-100">
                    <div class="col-md-7 col-lg-5 align-items-center m-h-auto">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="m-b-30 text-center">
                                    <h3 class="p-0 m-0">Crea tu nueva contraseña</h3>
                                    <p class="p-0 m-0">Su nueva contraseña debe ser diferente de la contraseña utilizada anteriormente.</p>
                                </div>
                                <form [formGroup]="recoverForm">

                                    <div class="form-group">
                                        <label class="font-weight-semibold">Contraseña</label>
                                        <div class="input-group">
                                            <input formControlName="password" [type]="fieldType" class="form-control" [ngClass]="(isFieldInvalid(recoverForm, 'password'))? 'is-invalid': 'valid'">
                                            <div class="input-group-prepend">
                                                <div class="input-group-prepend">
                                                    <span *ngIf="fieldType == 'password'" (click)="fieldType = 'text'" class="input-group-text">
                                                  <i class="fa fa-eye-slash"></i>
                                                </span>
                                                    <span *ngIf="fieldType == 'text'" (click)="fieldType = 'password'" class="input-group-text">
                                                  <i class="fa fa-eye"></i>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="isFieldInvalid(recoverForm, 'password') " class="message-errors">
                                            <span *ngIf="hasFieldError(recoverForm, 'password', 'minlength')">Ingresa mínimo 8 caracteres</span>
                                            <span *ngIf="hasFieldError(recoverForm, 'password', 'required') ">Este campo es requerido</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-semibold">Contraseña</label>
                                        <div class="input-group">
                                            <input formControlName="confirmPassword" [type]="fieldType2" class="form-control" [ngClass]="(isFieldInvalid(recoverForm, 'confirmPassword'))? 'is-invalid': 'valid'">
                                            <div class="input-group-prepend">
                                                <div class="input-group-prepend">
                                                    <span *ngIf="fieldType2 == 'password'" (click)="fieldType2 = 'text'" class="input-group-text">
                                                  <i class="fa fa-eye-slash"></i>
                                                </span>
                                                    <span *ngIf="fieldType2 == 'text'" (click)="fieldType2 = 'password'" class="input-group-text">
                                                  <i class="fa fa-eye"></i>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="isFieldInvalid(recoverForm, 'confirmPassword') " class="message-errors">
                                            <span *ngIf="hasFieldError(recoverForm, 'confirmPassword', 'minlength')">Ingresa mínimo 8 caracteres</span>
                                            <span *ngIf="hasFieldError(recoverForm, 'confirmPassword', 'required') ">Este campo es requerido</span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <button [disabled]="loadingRecover" (keyup.enter)="recoverPassword()" (click)="recoverPassword()" class="btn btn-primary btn-block">
                                                <span *ngIf="!loadingRecover">Restablecer contraseña</span>
                                                <div *ngIf="loadingRecover" class="spinner-border text-warning" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex p-h-40 justify-content-between">
                <span>&copy; {{ year }} Los Pedidos</span>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-dark text-link">Aviso de privacidad</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-dark text-link">Políticas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>