<div class="container-fluid">

    <div class="row d-flex justify-content-center p-t-30">
        <div class="col-md-6 ">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">Día</th>
                        <th scope="col">Apertura</th>
                        <th scope="col">Cierre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let schedule of schedules">
                        <th scope="row"> {{schedule.schedule}} </th>
                        <td>{{schedule.from_hour}}</td>
                        <td>{{schedule.to_hour}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>