<div class="container-fluid">

    <div class="row d-flex justify-content-center p-t-30">
        <div class="col-md-6 ">


            <mat-form-field *ngFor="let schedule of schedules">
                <mat-label> {{ schedule.schedule}} </mat-label>
                <mat-select>
                    <mat-option [value]="schedule.is_open == true">Abierto</mat-option>
                    <mat-option [value]="schedule.is_open != true">Cerrado</mat-option>
                </mat-select>
            </mat-form-field>



        </div>
    </div>
</div>