.avatar {
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    object-fit: fill;
}

.badge {
    width: 100px;
    padding: 0px !important;
    margin: 0px !important;
}

.list-group-item {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}

.name {
    font-size: 15px;
    font-weight: normal;
    padding: 0px;
}

.avatar-text {
    font-weight: bold;
    font-size: 15px;
}