<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">¡Registrate es gratis!</h1>
                        </div>
                        <form [formGroup]="signupForm" class="user">
                            <!-- FORM GROUP ROW  -->
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input formControlName="business_name" [ngClass]="{'is-invalid': isFieldInvalid(signupForm, 'business_name'),
                                    'is-valid': isFieldValid(signupForm, 'business_name')}" type="text"
                                        class="form-control form-control-user" placeholder="Nombre del negocio">
                                    <!-- MENSAJES DE ERROR  -->

                                    <div class="invalid-feedback">
                                        <span *ngIf="isFieldHasError(signupForm, 'business_name','required')">Este campo
                                            es
                                            requerido</span>
                                        <span
                                            *ngIf="isFieldHasError(signupForm, 'business_name','incorrectSpecialCharacters')">No
                                            se
                                            permite carecteres
                                            especiales($%#()?¿!¡ª\/∞¢)</span>
                                    </div>
                                </div>
                            </div>
                            <!-- FORM GROUP ROW  -->
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input formControlName="email" [ngClass]="{'is-invalid': isFieldInvalid(signupForm, 'email'),
                                    'is-valid': isFieldValid(signupForm, 'email')}" type="text"
                                        class="form-control form-control-user" placeholder="Correo electronico">
                                    <!-- MENSAJES DE ERROR  -->

                                    <div class="invalid-feedback">
                                        <span *ngIf="isFieldHasError(signupForm, 'email','required')">Este campo
                                            es
                                            requerido</span>
                                        <span *ngIf="isFieldHasError(signupForm, 'email','incorrectMailFormat')"> No es un correo valido.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- FORM GROUP ROW  -->
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input formControlName="contact_person_name" [ngClass]="{'is-invalid': isFieldInvalid(signupForm, 'contact_person_name'),
                                    'is-valid': isFieldValid(signupForm, 'contact_person_name')}" type="text"
                                        class="form-control form-control-user" placeholder="Nombre(s) de contacto">
                                    <!-- MENSAJES DE ERROR  -->

                                    <div class="invalid-feedback">
                                        <span *ngIf="isFieldHasError(signupForm, 'contact_person_name','required')">Este
                                            campo
                                            es
                                            requerido</span>
                                        <span
                                            *ngIf="isFieldHasError(signupForm, 'contact_person_name','incorrectSpecialCharacters')">No
                                            se
                                            permite carecteres
                                            especiales($%#()?¿!¡ª\/∞¢)</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input formControlName="contact_person_last_name" type="text" [ngClass]="{'is-invalid': isFieldInvalid(signupForm, 'contact_person_last_name'),
                                    'is-valid': isFieldValid(signupForm, 'contact_person_last_name')}"
                                        class="form-control form-control-user" placeholder="Apellidos del contacto">
                                    <!-- MENSAJES DE ERROR  -->

                                    <div class="invalid-feedback">
                                        <span
                                            *ngIf="isFieldHasError(signupForm, 'contact_person_last_name','required')">Este
                                            campo
                                            es
                                            requerido</span>
                                        <span
                                            *ngIf="isFieldHasError(signupForm, 'contact_person_last_name','incorrectSpecialCharacters')">No
                                            se
                                            permite carecteres
                                            especiales($%#()?¿!¡ª\/∞¢)</span>
                                    </div>
                                </div>
                            </div>
                            <!-- FORM GROUP ROW  -->

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input formControlName="password" [ngClass]="{'is-invalid': isFieldInvalid(signupForm, 'password'),
                                    'is-valid': isFieldValid(signupForm, 'password')}" type="password"
                                        class="form-control form-control-user" placeholder="Contraseña">
                                    <!-- MENSAJES DE ERROR  -->

                                    <div class="invalid-feedback">
                                        <span *ngIf="isFieldHasError(signupForm, 'password','required')">Este
                                            campo
                                            es
                                            requerido</span>
                                        <span
                                            *ngIf="isFieldHasError(signupForm, 'password','incorrectSpecialCharacters')">No
                                            se
                                            permite carecteres
                                            especiales($%#()?¿!¡ª\/∞¢)</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <input formControlName="confirmPassword" [ngClass]="{'is-invalid': isFieldInvalid(signupForm, 'confirmPassword'),
                                    'is-valid': isFieldValid(signupForm, 'confirmPassword')}" type="password"
                                        class="form-control form-control-user" id="exampleRepeatPassword"
                                        placeholder="Repetir contraseña">
                                    <!-- MENSAJES DE ERROR  -->
                                    <div class="invalid-feedback">
                                        <span *ngIf="isFieldHasError(signupForm, 'confirmPassword','required')">Este campo es requerido</span>
                                        <span *ngIf="isFieldHasError(signupForm,'confirmPassword','matchPassword')">Las contraseñas no coinciden</span>
                                    </div>

                                </div>
                            </div>
                            <!-- FORM GROUP ROW  -->

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input formControlName="phone_number" [ngClass]="{'is-invalid': isFieldInvalid(signupForm, 'phone_number'),
                                    'is-valid': isFieldValid(signupForm, 'phone_number')}" type="text"
                                        class="form-control form-control-user" placeholder="Teléfono">
                                        <!-- MESSAGE ERRORS  -->
                                    <div class="invalid-feedback">
                                        <span *ngIf="isFieldHasError(signupForm, 'phone_number','required')">Este
                                            campo
                                            es
                                            requerido</span>
                                        <span
                                            *ngIf="isFieldHasError(signupForm, 'phone_number','incorrectSpecialCharacters')">No
                                            se
                                            permite carecteres
                                            especiales($%#()?¿!¡ª\/∞¢)</span>
                                    </div>
                                </div>

                            </div>
                            <button [disabled]="loadingSave" (click)="signup()" class="btn btn-primary btn-user btn-block">
                                <span *ngIf="!loadingSave">Registrar cuenta</span>
                                <div *ngIf="loadingSave" class="spinner-border text-warning" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                            </button>
                            <hr>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" style="color: #0084ff;" routerLink="/auth/" >¿Ya tienes una cuenta? Inicia sesión!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>