<div class="container">
    <!-- Page Heading -->
    <div class="d-flex justify-content-between align-items-start">
        <h2>Comercios</h2>
        <button class="btn btn-primary" (click)="dialogAddMerchant()">Agregar</button>
    </div>

    <div class="row p-t-20">
        <!-- Order by -->
        <div class="col-md-2 p-b-10">
            <select class="form-control select-form" [(ngModel)]="params.ordering" (change)="ordenamiento($event.target.value)">
                <option value="">Ordenar por</option>
                <option value="-name">Fecha de ingreso</option>
                <option value="-last_name">Nombre</option>
                <option value="-reputation">Reputacion</option>
            </select>
        </div>

        <!-- View by status -->
        <div class="col-md-2 p-b-10">
            <select (change)="showList($event.target.value)" [(ngModel)]="params.status" class="form-control select-form">
                <option value="">Ver por</option>
                <option value="1">Disponibles</option>
                <option value="2">Bloqueados</option>
            </select>
        </div>


        <!-- Show view information complete -->
        <div class="col-md-3 p-b-10">
            <select (change)="showinfoIsComplete($event.target.value)" [(ngModel)]="params.information_is_complete" class="form-control select-form">
                <option value="">Mostrar por</option>
                <option value="true">Información completa</option>
                <option value="false">Información incompleta</option>
            </select>
        </div>

        <div class="col-md-2"></div>


        <!-- Search by -->
        <div class="col-md-3 p-b-10">
            <div class="input-group">
                <input #searchInput (keyup.enter)="searchBy(searchInput.value)" [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar por">
                <div class="input-group-prepend cursor" (click)="searchBy(searchInput.value)">
                    <span *ngIf="!params.search" class="input-group-text">
                        <i class="anticon anticon-search"></i>
                    </span>
                    <span *ngIf="params.search != ''" (click)="clearSearch()" class="input-group-text">
                        <i class="anticon anticon-close"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-t-20">
        <!-- Shared components -->
        <div class="col-md-12 d-flex justify-content-center">
            <app-loading-data *ngIf="loadingData"></app-loading-data>
            <app-no-found-data *ngIf="!loadingData && merchants.length == 0"></app-no-found-data>
        </div>

        <!-- Paginator -->
        <div class="col-md-12 d-flex justify-content-end" *ngIf="!loadingData && merchants.length > 0">
            <mat-paginator (page)="pageEvent = getPages($event)" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>

        <div class="col-md-12" *ngIf="!loadingData && merchants.length > 0">
            <app-merchant-list [merchants]="merchants" [params]="params"></app-merchant-list>
        </div>

        <div class="col-md-12 d-flex justify-content-end" *ngIf="!loadingData && merchants.length > 0">
            <mat-paginator (page)="pageEvent = getPages($event)" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>
    </div>
</div>