<div class="container">
    <div class="d-flex align-items-center justify-content-end">
        <button class="btn btn-primary">Agregar</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre de la etiqueta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> ddd </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <!-- <app-no-found-data *ngIf="merchantTags.length == 0"  [message]="'Este comercio no tiene etiquetas asignadas'">
            </app-no-found-data> -->
        </div>
    </div>
</div>