<div class="chat-list">
    <div class="chat-user-tool">
        <i class="anticon anticon-search search-icon p-r-10 font-size-20"></i>
        <input placeholder="Buscar...">
    </div>
    <div class="chat-user-list">
        <a class="chat-list-item p-h-25" href="javascript:void(0);">
            <div class="media align-items-center">
                <div class="avatar avatar-image">
                    <img src="assets/images/avatars/thumb-1.jpg" alt="">
                </div>
                <div class="p-l-15">
                    <h5 class="m-b-0">Misael Gonzalez</h5>
                    <p class="msg-overflow m-b-0 text-muted font-size-13">
                        Asunto: Seguimiento de pedido
                    </p>
                    <p class="msg-overflow m-b-0 text-muted font-size-13">
                        Estatus: <span class="badge badge-success">Abierto</span>
                    </p>
                </div>
            </div>
        </a>
        <a class="chat-list-item p-h-25" href="javascript:void(0);">
            <div class="media align-items-center">
                <div class="avatar avatar-image">
                    <img src="assets/images/avatars/thumb-1.jpg" alt="">
                </div>
                <div class="p-l-15">
                    <h5 class="m-b-0">Kim Neri</h5>
                    <p class="msg-overflow m-b-0 text-muted font-size-13">
                        Asunto: Problemas con el pedido entregado
                    </p>
                    <p class="msg-overflow m-b-0 text-muted font-size-13">
                        Estatus: <span class="badge badge-danger">Cerrado</span>
                    </p>
                </div>
            </div>
        </a>
    </div>   
</div>