<table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th style="width: 100%;" scope="col">Nombre</th>
        <th scope="col">Categoría</th>
        <th scope="col">Télefono</th>
<!--         <th scope="col">Fecha de ingreso</th>
 -->        <th scope="col">Horarios</th>
        <th scope="col">Abierto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let merchant of merchants">
        <td>{{merchant.merchant_name}}</td>
        <td>{{merchant.category}}</td>
        <td>{{merchant.phone_number}}</td>
<!--         <td>{{merchant.created | date:'medium'}}</td>
 -->        <td>
            -----
        </td>
        <td>
            <mat-slide-toggle (toggleChange)="openOrClose(!merchant.is_open, merchant.id); merchant.is_open=!merchant.is_open" [checked]="merchant.is_open"></mat-slide-toggle>
        </td>
      </tr>
    </tbody>
  </table>