<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Abierto</th>
            <th style="width: 100%;">Nombre</th>
            <th>Encargado</th>
            <th>Categoría</th>
            <th>Télefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let merchant of merchants">
            <td>
                <mat-slide-toggle (toggleChange)="openOrClose(!merchant.is_open, merchant.id); merchant.is_open=!merchant.is_open" [checked]="merchant.is_open"></mat-slide-toggle>
            </td>
            <td> {{merchant.merchant_name}} </td>
            <td> {{merchant.contact_person}} </td>
            <td> {{merchant.category}} </td>
            <td> {{merchant.phone_number}} </td>
            <td>
                <button class="btn btn-sm btn-danger mr-2" (click)="deleteMerchant(merchant.id,merchant.merchant_name)">Bloquear</button>
            </td>
        </tr>

    </tbody>
</table>