<div class="container-fluid">


    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Crear una oferta</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="p-b-10">Descuentos al comprar cierta cantidad</h4>


                    <p class="p-b-30 tex">Motiva a tus clientes a comprar mas, mediante descuentos condiccionados a una compra minima</p>


                    <button type="button" class="btn btn-success" routerLink="/marketing/add">Seleccionar</button>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="">Entrega con descuento en el costo de envío o con envío gratis</h4>


                    <p class="p-b-14 tex">Absorbe la totalidad o una parte de los costos de envio para atraer a mas clientes</p>


                    <button type="button" class="btn btn-primary" routerLink="/marketing/add">Seleccionar</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="p-b-10">Descuentos en artículos del menú</h4>


                    <p class="p-b-30 tex">Ofrece descuentos en articulos especificos para incrementar tu desplazamiento (por ejemplo aquellas que tengas en exceso o que sean de temporada)</p>


                    <button type="button" class="btn btn-primary" routerLink="marketing/add">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>



</div>