<div class="container p-h-0">
    <div>
        <h2>Pedidos en proceso</h2>
    </div>

    <div class="row m-t-20">
        <div class="col-md-3 m-b-10">
            <select class="form-control select-form cursor" (change)="orderBy($event.target.value)">
                <option value="">Ordenar</option>
                <option value="distance">Distancia mas corta</option>
                <option value="-distance">Distancia mas larga </option>
                <option value="service_price">Precio mas bajo</option>
                <option value="-service_price">Precio mas alto </option>
            </select>
        </div>

        <div class="col-md-6 m-b-10">
            <button (click)="getOrders()" class="btn btn-info">Recargar</button>
        </div>

        <div class="col-md-3 m-b-10">
            <div class="input-group">
                <input #searchInput (keyup.enter)="searchBy(searchInput.value)" [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar">
                <div class="input-group-prepend cursor" (click)="searchBy(searchInput.value)">
                    <span *ngIf="!params.search" class="input-group-text">
                        <i class="anticon anticon-search"></i>
                    </span>
                    <span *ngIf="params.search != ''" (click)="clearSearch()" class="input-group-text">
                        <i class="anticon anticon-close"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-t-10">
        <div class="col-lg-12 d-flex justify-content-center">
            <app-loading-data *ngIf="loadingData"></app-loading-data>
            <app-no-found-data *ngIf="!loadingData && orders.length == 0"> </app-no-found-data>
        </div>

        <div class="col-lg-12 d-flex justify-content-end" *ngIf="!loadingData && orders.length > 0">
            <mat-paginator (page)="pageEvent = getPages($event)" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>

        <div class="col-md-12" *ngIf="!loadingData && orders.length > 0">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Servicio</th>
                            <th>N° de orden</th>
                            <th>Cliente</th>
                            <th>Número del cliente</th>
                            <th>Lugar de compra o recolección</th>
                            <th>Lugar de entrega</th>
                            <th>Estatus</th>
                            <th>Fecha del solicitud</th>
                            <th>Total</th>
                            <th class="width__actions">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <tr *ngFor="let order of orders">
                                <td>
                                    <div class="text-center" (click)="openDialogDetailProducts(order)">
                                        <span *ngIf="order.service_id == 3" class="cursor badge badge-pill badge-secondary">Lo que sea </span>
                                        <span *ngIf="order.service_id == 2" class="cursor badge badge-pill badge-warning">{{order.service}} </span>
                                        <span *ngIf="order.service_id == 1" class="cursor badge badge-pill badge-info">{{order.service}} </span>
                                        <p class="cursor p-0 text-info font-weight-semibold">Detalles</p>
                                    </div>
                                </td>
                                <td> {{ order.id }} </td>
                                <td>{{order.customer.name}}</td>
                                <td>{{order.customer.phone_number}}</td>
                                <td>
                                    <span *ngIf="order.is_order_to_merchant"> {{ order.merchant.merchant_name }} <br>                                
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item" style="color: #1890FF;"> <a (click)="openDirection(order.merchant_location)">Ver mapa</a></li>
                                            </ol>
                                        </span>
                                    <span *ngIf="!order.is_order_to_merchant"> {{ order.from_address.full_address }} <br>
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item" style="color: #1890FF;"> <a (click)="openDirection(order.from_address.point)">Ver mapa</a></li>
                                            </ol>
                                        </span>
                                </td>
                                <td> {{ order.to_address.full_address }} <br>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item" style="color: #1890FF;"> <a (click)="openDirection(order.to_address.point)">Ver mapa</a></li>
                                    </ol>
                                </td>


                                <td> {{order.order_status.name}} </td>
                                <td> {{order.order_date | date:'medium'}} </td>
                                <td>
                                    <span *ngIf="order.total_order"> ${{order.total_order | number:'1.2-2' }} </span>
                                    <span *ngIf="!order.total_order"> 
                                        <p class="font-size-20" data-toggle="tooltip" data-placement="top" title="El precio total depende del costo de los productos">
                                            <i class="anticon anticon-question-circle"  ></i>
                                        </p>
                                    </span>
                                </td>

                                <td>
                                    <button (click)="openDialogSendMessageOrder(order)" class="btn btn-success btn-sm m-b-5 w-100"> 
                                        Mensaje
                                    </button>

                                    <button (click)="openDialogReassignDelivery(order)" *ngIf="order.delivery_man" class="btn btn-info btn-sm m-b-5 w-100">
                                        Reasignar
                                    </button>

                                    <button (click)="openDialogCancelOrder(order.id)" *ngIf="!order.is_order_to_merchant" class="btn btn-danger btn-sm m-b-5 w-100">
                                        Cancelar
                                    </button>

                                    <!-- Buttons for actions by merchant -->
                                    <button (click)="endOrderMerchant(order.id)" *ngIf="order.order_status.id == 15" class="btn btn-info btn-sm m-b-5 p-r-0 p-l-0 w-100">
                                        Terminar
                                        <i class="anticon anticon-shop"></i>
                                    </button>

                                    <button (click)="rejectOrderMerchant(order.id)" *ngIf="order.order_status.id == 15" class="btn btn-danger btn-sm p-r-0 p-l-0 w-100">
                                        Cancelar
                                        <i class="anticon anticon-shop"></i>
                                    </button>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-12 d-flex justify-content-end" *ngIf="!loadingData && orders.length > 0">
            <mat-paginator (page)="pageEvent = getPages($event)" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>
    </div>
</div>