<div class="header__modal">
    <div class="close">
        <i mat-dialog-close class="fas fa-close"></i>
    </div>
</div>

<h4>Detalles de la orden: {{ order.qr_code }} </h4>

<div class="row" *ngIf="!loadingOrder && order">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Servicio</th>
                        <th>Cliente</th>
                        <th>Número de cliente</th>
                        <th *ngIf="order.delivery_man">Repartidor</th>
                        <th>Fecha del pedido</th>
                        <th>Fecha de entrega</th>
                        <th *ngIf="order.service_id != 1">Lugar de compra</th>
                        <th *ngIf="order.service_id != 1">Lugar de entrega</th>
                        <th>Distancia</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> {{ order.id }} </td>
                        <td>
                            <span *ngIf="order.service_id == 1" class="badge badge-pill badge-info">{{order.service}}
                            </span>
                            <span *ngIf="order.service_id == 2" class="badge badge-pill badge-warning">{{order.service}}
                            </span>
                            <span *ngIf="order.service_id == 3" class="badge badge-pill badge-secondary">Lo que sea
                            </span>
                        </td>
                        <td> {{ order.customer.name }} </td>
                        <td> {{ order.customer.phone_number }} </td>
                        <td *ngIf="order.delivery_man"> {{ order.delivery_man.name }} </td>
                        <td> {{ order.order_date | date:'medium' }} </td>
                        <td> {{ order.date_delivered_order | date:'medium'}} </td>

                        <td *ngIf="order.service_id != 1">
                            <span class="cursor" (click)="openDirection(order.merchant_location)"
                                *ngIf="order.is_order_to_merchant">
                                <span> {{ order.merchant.merchant_name }} </span>
                                <p class="p-0 text-info font-weight-semibold">Ver mapa</p>
                            </span>

                            <span class="cursor" (click)="openDirection(order.from_address.point)"
                                *ngIf="!order.is_order_to_merchant">
                                <span> {{ order.from_address.full_address }} </span>
                                <p class="p-0 text-info font-weight-semibold">Ver mapa</p>
                            </span>
                        </td>

                        <td *ngIf="order.service_id != 1">
                            {{ order.to_address.full_address }}
                            <p class="p-0 text-info font-weight-semibold"
                                (click)="openDirection(order.to_address.point)">
                                Ver mapa</p>


                        </td>

                        <td> {{ order.distance | number }} KM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-md-12">
        <div class="table-responsive" *ngIf="order.service_id != 1">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="text-center w-10">Cantidad</th>
                        <th>Producto</th>
                        <th class="text-center w-10">P. unitario</th>
                        <th class="text-center w-10">Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let info of orderDetails">
                        <th class="text-center"> {{ info.quantity }} </th>
                        <td> <span class="menu"> {{ info.product_name }} </span>
                            <div class="p-l-25" *ngFor="let menu of info.menu_options">
                                <span class="interItem">{{ menu.menu_name }} </span>
                                <table class="table table-border table-sm p-l-20">
                                    <thead>
                                        <tr>
                                            <td class="text-center" style="width: 100px;">Cantidad</td>
                                            <td>Opcion</td>
                                            <td *ngIf="menu.options.price_option > 0" style="width: 100px;">Precio</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let option of menu.options">
                                            <td class="text-center interItem"> {{option.quantity}} </td>
                                            <td class="interItem">{{ option.option_name}} </td>
                                            <td class="interItem" *ngIf="menu.options.price_option > 0">{{
                                                option.price_option }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td class="text-center">$ {{ info.product_price }} </td>
                        <td class="text-center">$ {{ info.total_detail }} </td>


                    <tr>
                        <th class="border-0"></th>
                        <th colspan="2" class="text-right border-0">ENVÍO:</th>
                        <th class="text-center border-0">$ {{order.service_price}} </th>
                    </tr>
                    <tr>
                        <th class="border-0"></th>
                        <th colspan="2" class="text-right border-0">COSTO OPERATIVO</th>
                        <th class="text-center border-0"> $ {{order.increment_price_operating}}</th>
                    </tr>
                    <tr>
                        <th class="border-0"></th>
                        <th colspan="2" class="text-right border-0">TIPO DE PAGO:</th>
                        <th class="text-center border-0">
                            <span *ngIf="!order.is_payment_online">Efectivo</span>
                            <span *ngIf="order.is_payment_online">Tarjeta</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="border-0"></th>
                        <th colspan="2" class="text-right border-0">TOTAL:</th>
                        <th class="text-center border-0">
                            <span *ngIf="order.total_order" class="text-primary">$ {{order.total_order}} </span>
                            <span *ngIf="!order.total_order">
                                <p class="font-size-20" data-toggle="tooltip" data-placement="top"
                                    title="El precio total depende del costo de los productos">
                                    <i class="anticon anticon-question-circle"></i>
                                </p>
                            </span>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>



        <!-- 
        <table class="table" *ngIf="order.service_id == 1">
            <thead>
                <tr>
                    <th>Lugar de recolección</th>
                    <th>Indicaciones</th>
                    <th>Lugar de entrega</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <span><small><strong>Alias</strong></small><br> {{ order.from_address.alias }} <br></span>
                        <span *ngIf="order.from_address.exterior_number"><small><strong>Número
                                    Exterior</strong></small><br> {{order.from_address.exterior_number}} <br></span>
                        <span *ngIf="order.from_address.inside_number"><small><strong>Número Interior</strong>
                            </small><br> {{order.from_address.inside_number}} <br></span>
                        <span><small><strong>Dirección</strong></small><br> {{ order.from_address.full_address }}
                        </span>
                    </td>
                    <td> {{order.indications}} </td>
                    <td>
                        <span><small><strong>Alias</strong></small><br> {{order.to_address.alias}} <br></span>
                        <span *ngIf="order.to_address.exterior_number"><small><strong>Número
                                    Exterior</strong></small><br> {{order.to_address.exterior_number}} <br></span>
                        <span *ngIf="order.to_address.inside_number"><small>Número Interior</small>
                            {{order.to_address.inside_number}} <br></span>
                        <span><small><strong>Dirección</strong></small><br> {{order.to_address.full_address}} </span>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>