<h2 mat-dialog-title>Detalles del Pedido </h2>

<div mat-dialog-content>
    <div class="row">


        <div class="col-lg-12">
            <span *ngFor="let info of details">
                -x{{info.quantity}} {{info.product_name}} <br>
                
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <span *ngFor="let menu of info.menu_options"> <span style="font-weight: bold;">{{ menu.menu_name }}</span>

            <div class="col-lg-1"></div>
            <div class="col-lg-11" *ngFor="let option of menu.options">
                {{ option.quantity}} {{ option.option_name}}


            </div>
            </span>

        </div>
        </span>
    </div>
</div>
</div>