.containe {
    margin: -.5rem !important;
    .listCompras {
        thead {
            border-bottom: 3px solid #EDEDED;
            tr {
                th {
                    font-size: 13px;
                    font-weight: bold;
                }
            }
        }
        .menu {
            font-size: 15px !important;
            font-style: #000000 !important;
            vertical-align: top;
            .menuI {
                font-size: 14px;
                font-style: #000000;
            }
        }
    }
}

.interItem {
    font-size: 12px !important;
    font-style: #000000 !important;
}

.table {
    font-size: 90%;
    width: 100%;
}

.badge {
    color: white !important;
    font-weight: bold !important;
}

.option table {
    border: none;
}

.totals {
    align-items: flex-end !important;
    text-align: end !important;
}