<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Agregar vehículo</h1>
    </div>

    <div class="row">
        <div class="col-md-6 card">


            <!-- Form the add vehicle -->
            <form [formGroup]='vehicleForm'>

                <div class="form-group">
                    <label>Alias</label>
                    <input formControlName="alias" type="text" class="form-control" placeholder="Alias" [ngClass]="{'is-invalid': isFieldInvalid(vehicleForm, 'alias'), 'is-valid': isFieldValid(vehicleForm, 'alias')}">
                    <!-- MESSAGES ERRORS  -->
                    <div class="invalid-feedback">
                        <span *ngIf="isFieldHasError(vehicleForm, 'alias','required')">Este campo es requerido</span>
                    </div>
                </div>


                <div class="form-group">
                    <label>Modelo</label>
                    <input type="text" class="form-control" formControlName='model' placeholder="Modelo" [ngClass]="{'is-invalid': isFieldInvalid(vehicleForm, 'model'), 'is-valid': isFieldValid(vehicleForm, 'model')}">
                    <!-- MESSAGES ERRORS  -->
                    <div class="invalid-feedback">
                        <span *ngIf="isFieldHasError(vehicleForm, 'model','required')">Este campo esrequerido</span>
                    </div>
                </div>


                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label>Año</label>
                        <input type="text" class="form-control" formControlName='year' placeholder="Año" [ngClass]="{'is-invalid': isFieldInvalid(vehicleForm, 'year'),
                        'is-valid': isFieldValid(vehicleForm, 'year')}">
                        <div class="invalid-feedback">
                            <span *ngIf="isFieldHasError(vehicleForm, 'year','required')">Este
                                campo
                                es
                                requerido</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Placa</label>
                        <input type="text" [ngClass]="{'is-invalid': isFieldInvalid(vehicleForm, 'plate'),
                        'is-valid': isFieldValid(vehicleForm, 'plate')}" class="form-control" formControlName='plate' placeholder="Placa">
                        <div class="invalid-feedback">
                            <span *ngIf="isFieldHasError(vehicleForm, 'plate','required')">Este
                                campo
                                es
                                requerido</span>
                        </div>
                    </div>
                </div>

                <button type="submit" (click)="addVehicle()" class="btn btn-primary">Agregar</button>
            </form>
            <!-- Fin form add vehicle -->

        </div>
    </div>
</div>