<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Agregar vehículo</h1>
    </div>

    <div class="row">
        <div class="col-md-6 card">
            <!-- Form add vehicle -->
            <form>
                <div class="form-group">
                    <label>Alias</label>
                    <input type="text" class="form-control" name="alias" placeholder="Alias">
                </div>
                <div class="form-group">
                    <label>Modelo</label>
                    <input type="text" class="form-control" name="modelo" placeholder="Modelo">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Año</label>
                        <input type="text" class="form-control" name="anio" placeholder="Año">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Placa</label>
                        <input type="text" class="form-control" name="placa" placeholder="Placa">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
            <!-- Fin form add vehicle -->

        </div>
    </div>
</div>