<ng-snotify></ng-snotify>
<div class="conversation" *ngIf="support">
    <div class="conversation-wrapper">

        <app-conversation-header (closeChatEvent)="closeChatEvent.emit('')" [closeOrderDetail]="closeOrderDetail" [loadingMessages]="loadingMessages" [total]="count" [support]="support"></app-conversation-header>

        <div appScroll infinite-scroll [scrollWindow]="false" [infiniteScrollUpDistance]="3" [infiniteScrollThrottle]="0" (scrolledUp)="onUp()" class="conversation-body" #conversationBody>


            <div *ngIf="count && !loadingMessages && count == messages.length" class="no-more-messages more">
                <p>No hay mas mensajes que cargar</p>
            </div>
            <!-- Loading de mensajes iniciales  -->
            <div *ngIf="loadingMessages" class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>

            <!-- BODY  -->
            <app-conversation-body *ngIf="support.length > 0" [support]="support" [messages]="messages">
            </app-conversation-body>

        </div>

        <app-conversation-footer (newMessage)="newMessage($event)" [support]="support"></app-conversation-footer>
    </div>
</div>