<h3 mat-dialog-title class="d-flex justify-content-between">
    {{faq ? 'Editar': 'Agregar'}} pregunta frecuente
    <button mat-button mat-dialog-close class="btn btn-light">
        <i class="anticon anticon-close"></i>
    </button>
</h3>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form [formGroup]="faqForm">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Grupo</label>


                        <!-- <option value="">Selecciona una categoría</option>
                                                <ng-container *ngIf="categories">
                                                    <option *ngFor="let category of categories" [value]="category.id">
                                                        {{category.name}}</option>
                                                </ng-container> -->

                        <select formControlName="group" class="form-control select-form" [ngClass]="(isFieldInvalid(faqForm, 'group'))? 'is-invalid': 'valid'">
                            <option value="" selected>Selecciona una categoría</option>
                            <ng-container *ngIf="groups">
                                <option *ngFor="let group of groups" [value]="group.id" > {{group.name}} </option>
                            </ng-container>
                          </select>
                        <!-- Message Errors   -->
                        <div class="invalid-feedback">
                            <span *ngIf="hasFieldError(faqForm, 'group','required')">Este campo es requerido</span>
                        </div>
                    </div>


                    <div class="form-group col-md-12">
                        <label>Pregunta</label>
                        <input formControlName="title" type="text " class="form-control" placeholder="Pregunta" [ngClass]="(isFieldInvalid(faqForm, 'title'))? 'is-invalid': 'valid'">
                        <!-- Message Errors  -->
                        <div class="invalid-feedback">
                            <span *ngIf="hasFieldError(faqForm, 'title','required')">Este campo es requerido</span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label>Respuesta</label>
                        <textarea rows="4" formControlName="answer" class="form-control" placeholder="Respuesta" [ngClass]="(isFieldInvalid(faqForm, 'answer'))? 'is-invalid': 'valid'"></textarea>
                        <!-- Message Errors  -->
                        <div class="invalid-feedback">
                            <span *ngIf="hasFieldError(faqForm, 'answer','required')">Este campo es requerido</span>
                        </div>
                    </div>

                </div>
            </form>


            <div class="d-flex justify-content-end">
                <button mat-button mat-dialog-close class="btn btn-light btn-sm m-r-20">Cancelar</button>
                <button [disabled]="loadingSave" (click)="createFaq()" type="submit" class="btn btn-primary btn-sm">
                    Guardar
                    <div *ngIf="loadingSave" class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>