.content {
    background: #ffffff;
    padding: 10px;
}

.img-category {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.img-username {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.table {
    font-size: 90%;
}

.thead {
    color: white;
}

.btn-mas {
    color: blue;
}

.btn-message {
    color: green;
}

.btn-block {
    color: red;
}