<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Fecha de registro</th>
                <th style="width: 30px;">Órdenes completadas </th>
                <th class="text-center">Registro</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>
                    <img class="avatar__client rounded-circle" *ngIf="client.picture_url" [src]="client.picture_url" alt="avatar">
                    <img class="avatar__client rounded-circle" *ngIf="!client.picture_url" src="assets/img/user.png" alt="avatar">
                </td>
                <td> {{ client.name }}</td>
                <td> {{ client.user.username }} </td>
                <td>
                    <span *ngIf="!client.phone_number"><small>Sin agregar</small></span>
                    <span *ngIf="client.phone_number"> {{ client.phone_number }} </span>
                </td>
                <td> {{ client.created | date:'medium' }} </td>
                <td class="text-center"> {{ client.total_orders }} </td>
                <td class="text-center">
                    <span class="icon__email" *ngIf="!client.user.auth_facebook"><i class="fas fa-envelope-open"></i></span>
                    <span class="icon__facebook" *ngIf="client.user.auth_facebook"><i class="fab fa-facebook-square"></i></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>