<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Lista de clientes

        </h1>
    </div>

    <div class="row">
        <div class="col-md-12">


            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="">
                        <th scope="col">Nombre </th>
                        <th scope="col">Apellidos </th>
                        <th scope="col">Correo</th>
                        <th scope="col">Pedidos realizados </th>
                        <th scope="col">Pedidos cancelados </th>
                        <th scope="col">Primer pedido</th>
                        <th scope="col">Ultimo pedido</th>
                        <th scope="col">Ver mas</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Bloquear</th>

                    </tr>
                </thead>
                <tbody>


                    <tr *ngFor="let client of clients ">
                        <td>{{ client.customer }}</td>
                        <td>Sanches Vazques</td>
                        <td>juanito34@hotmail.com</td>
                        <td> {{client.total_orders}} </td>
                        <td> {{client.total_orders_cancelled }} </td>
                        <td> {{client.first_order_date | date }} </td>
                        <td> {{client.last_order_date | date }} </td>
                        <td class="text-center bt-edit">
                            <button class="btn" [routerLink]="['/client/info',client.id]">
                                <i class="ti-plus"></i>
                            </button>
                        </td>
                        <td class="text-center bt-remove">
                            <button class="btn ">
                                <i class="ti-comment-alt"></i>
                            </button>
                        </td>
                        <td class="text-center bt-remove">
                            <button class="btn ">
                                <i class="ti-lock"></i>
                            </button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>