<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Lista de clientes

        </h1>
    </div>

    <div class="row">
        <div class="col-md-12">


            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="">
                        <th scope="col">Nombre </th>
                        <th scope="col">Apellidos </th>
                        <th scope="col">Correo</th>
                        <th scope="col">Pedidos realizados </th>
                        <th scope="col">Pedidos cancelados </th>
                        <th scope="col">Reputacion</th>
                        <th scope="col">Ver mas</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Bloquear</th>

                    </tr>
                </thead>
                <tbody>


                    <tr *ngFor="let item of [1,2,3]">
                        <td>Juan</td>
                        <td>Sanches Vazques</td>
                        <td>juanito34@hotmail.com</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Regular</td>
                        <td class="text-center bt-edit">
                            <button class="btn" routerLink="/client/info"> 
                                <i class="ti-plus" ></i>
                            </button>
                        </td>
                        <td class="text-center bt-remove">
                            <button class="btn ">
                                <i class="ti-comment-alt"></i>
                            </button>
                        </td>
                        <td class="text-center bt-remove">
                            <button class="btn ">
                                <i class="ti-lock"></i>
                            </button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>