
<div class="m-t-20">
    <!-- Preloader -->
    <div class="col-lg-12 d-flex justify-content-center" *ngIf="loadingData">
        <div class="spinner-border text-primary my-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- End Preloader -->

    <ul class="list-group list-group-flush" *ngIf="!loadingData">
        <li class="list-group-item p-h-0" *ngFor="let review of reviews">
            <div class="media m-b-15">
                <div class="avatar avatar-image">
                    <img [src]="review.rating_customer.picture_url" alt="" onerror="this.onerror=null;this.src='assets/img/user.png';">
                </div>
                <div class="media-body m-l-20">
                    <h6 class="m-b-0">
                        <a href="" class="text-dark"> {{ review.rating_customer.name }} </a>
                    </h6>
                    <span class="font-size-13 text-gray"> {{ review.rating_customer.modified | date:'medium'}} </span>
                </div>
                <div class="star-rating">
                    <span><i *ngFor="let item of [1,2,3,4,5]" class="not__qualification fas fa-star" [ngClass]="{'start__decoration': (item <= review.rating_merchant) } " ></i></span>
                </div>
                <span class="font-weight-bold ml-2"> {{ review.rating_merchant  |  number:'1.1-2' }} </span>
            </div>
            <div *ngIf="review.comments" class="row d-flex justify-content-center p-2">
                <span class="font-weight-light text-capi">"{{ review.comments | lowercase }}"</span>
            </div>
        </li>

    </ul>
</div>
