<div class="col-md-8">
    <div class="card" *ngIf="reviews">
        <div class="card-body">
            <h5>Reviews (18)</h5>
            <div class="m-t-20">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-h-0" *ngFor="let review of reviews">
                        <div class="media m-b-15">
                            <div class="avatar avatar-image">
                                <img [src]="review.rating_customer.picture_url" alt="">
                            </div>
                            <div class="media-body m-l-20">
                                <h6 class="m-b-0">
                                    <a href="" class="text-dark"> {{ review.rating_customer.name }} </a>
                                </h6>
                                <span class="font-size-13 text-gray"> {{ review.rating_customer.modified | date:'medium'}} </span>
                            </div>
                        </div>
                        <span> {{ review.comments }}</span>
                        <div class="star-rating m-t-15">
                            <input type="radio" id="star1-5" name="rating-1" value="5" checked="" disabled=""><label for="star1-5" title="5 star"></label>
                            <input type="radio" id="star1-4" name="rating-1" value="4" disabled=""><label for="star1-4" title="4 star"></label>
                            <input type="radio" id="star1-3" name="rating-1" value="3" disabled=""><label for="star1-3" title="3 star"></label>
                            <input type="radio" id="star1-2" name="rating-1" value="2" disabled=""><label for="star1-2" title="2 star"></label>
                            <input type="radio" id="star1-1" name="rating-1" value="1" disabled=""><label for="star1-1" title="1 star"></label>
                        </div>
                        <span> {{ review.rating_merchant }} </span>

                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>