<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <h1 class="h3 mb-0 text-gray-800">Tags del comercio</h1>
        <button class="btn btn-info btn-sm" (click)="openDialogAddTag()">Agregar</button>

    </div>
    <div>
        <div class="filters m-t-30">
            <div class="row d-flex justify-content-end">

                <!-- Ordering orders -->
                <div class="col-lg-3">
                    <select class="form-control select-form">
                        <option value="">Ordenar por:</option>
                        <option value="distance">Distancia mas corta</option>
                        <option value="-distance">Distancia mas larga </option>
                        <option value="service_price">Precio mas bajo</option>
                        <option value="-service_price">Precio mas alto </option>
                    </select>
                </div>
                <!-- End Ordering orders -->

                <div class="col-lg-6"></div>

                <!-- Search by name -->
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <input #searchInput type="text" class="form-control fm-size" placeholder="Buscar por nombre" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-prepend cursor">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- End Search by name -->
            </div>
        </div>



        <div class="row" class="content">
            <!-- PAGINADOR  -->
            <!-- <div class="col-lg-12 d-flex justify-content-end">
                <mat-paginator [disabled]="loadingOrders || orders.length==0" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getPages($event)">
                    </mat-paginator>
            </div> -->
            <!-- TERMINA EL PAGINADOR  -->


            <!-- Preloader  -->
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="spinner-border text-primary my-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- End preloader  -->


            <!-- Table new orders -->
            <div class="col-lg-12" *ngIf="!loadingTags && tagsMerchant.length > 0">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let merchant of tagsMerchant">
                            <td>Picture </td>
                            <td>Mercha</td>
                            <td>mmf</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>