<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <h4 class="h3 mb-0 text-gray-500">Etiquetas del Comercio</h4>
        <button class="btn btn-info btn-sm" (click)="openDialogAddTag(tagsMerchant)">Agregar</button>
    </div>

    <div class="p-t-20">
        <div class="row" class="content">
            <!-- Table new orders -->
            <div class="col-lg-6" *ngIf="tagsMerchant.length">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tag of tagsMerchant">
                            <td> {{tag.tag_name}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- Conponent no Data -->
            <app-no-found-data *ngIf="!tagsMerchant.length"  [message]="'Este comercio no tiene etiquetas Asisgnadas'">
            </app-no-found-data>
            <!-- End Conponent no Data -->
        </div>
    </div>
</div>