<div class="page-header">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> Soporte </h1>
    </div>
    <!-- <div class="row">
        <div class="form-group col-md-3">
            <label for="inputState">Filtrar por</label>
            <select id="inputState" class="form-control">
                <option>Seguimiento de pedido</option>
                <option>Problema con pedido</option>
                <option>Otro</option>
            </select>
        </div>
    </div> -->
</div>

<!-- <mat-progress-bar *ngIf="!station" color="accent" class="my-3" mode="indeterminate"></mat-progress-bar> -->


<div class="container-fluid p-h-0">
    <div class="chat chat-app row">
        <app-ticket-list></app-ticket-list>
        <div class="chat-content">
            <app-chat-content></app-chat-content>
        </div>
    </div>
</div>