<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <h1 class="h3 mb-0 text-gray-800">Pedidos entregados</h1>
    </div>

    <div class="row p-t-20">
        <div class="col-lg-12 d-flex justify-content-between">

            <!-- Ordering orders -->
            <div class="col-lg-3 col-sm-12">
                <select class="form-control select-form" (change)="orderingOrders($event.target.value)">
                            <option value="">Ordenar por:</option>
                            <option value="distance">Distancia mas corta</option>
                            <option value="-distance">Distancia mas larga </option>
                            <option value="service_price">Precio mas bajo</option>
                            <option value="-service_price">Precio mas alto </option>
                        </select>
            </div>
            <!-- End ordering orders -->

            <div class="col-lg-6 col-sm-12"></div>

            <!-- Search by name in orders -->
            <div class="col-lg-3 col-sm-12">
                <div class="input-group">
                    <input (keyup.enter)="searchBy(searchInput.value)" [(ngModel)]="params.search" #searchInput type="text" class="form-control" placeholder="Buscar Nombre">

                    <!-- <input #searchInput (keyup.enter)="searchBy(searchInput.value)" [(ngModel)]="params.search" class="form-control"   type="text" class="form-control fm-size" placeholder="Buscar por nombre" aria-label="Username" aria-describedby="basic-addon1"> -->
                    <div class="input-group-append">
                        <span *ngIf="!params.search" (click)="searchBy(searchInput.value)" class="input-group-text cursor" id="basic-addon2">
                            <i class="fas fa-search"></i>
                        </span>
                        <span *ngIf="params.search" (click)="clearSearch()" class="input-group-text cursor" id="basic-addon2">
                            <i class="fas fa-times-circle"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- End search by name in orders -->
        </div>




        <div class="col-lg-12 p-t-20">


            <!-- Preloader -->
            <div class="col-lg-12 d-flex justify-content-center" *ngIf="loadingOrders">
                <div class="spinner-border text-primary my-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- End Preloader -->


            <div class="col-lg-12" *ngIf="!loadingOrders && orders.length > 0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Servicio</th>
                                <th>Cliente</th>
                                <th>Repartidor</th>
                                <th style="min-width: 200px;">Lugar de Compra o Recolección</th>
                                <th style="min-width: 200px;">Lugar de entrega</th>
                                <th>Fecha del Pedido</th>
                                <th>Fecha de Entrega</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders">
                                <td>
                                    <span *ngIf="order.service_id == 3" class="badge bg-secondary text-dark">Lo que sea</span>
                                    <span *ngIf="order.service_id == 2" class="badge bg-warning text-dark">{{order.service}}</span>
                                    <span *ngIf="order.service_id == 1" class="badge bg-info text-dark">{{order.service}}</span>
                                    <br>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item" style="color: #1890FF;"> <a (click)="openDialogDetailProducts(order)">Detalles</a> </li>
                                    </ol>

                                </td>
                                <td> {{ order.customer.name }} </td>
                                <td>
                                    <span *ngIf="order.delivery_man"> {{ order.delivery_man.name }} </span>
                                    <span *ngIf="!order.delivery_man"> Sin repartidor </span>
                                </td>



                                <td>
                                    <span *ngIf="order.is_order_to_merchant == true"> {{ order.merchant.merchant_name }} <br>                                
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item" style="color: #1890FF;"> <a (click)="openDirection(order.merchant_location)">Ver mapa </a> </li>
                                        </ol>
                                </span>

                                    <span *ngIf="order.is_order_to_merchant == false"> {{ order.from_address.full_address }} <br>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item" style="color: #1890FF;"> <a (click)="openDirection(order.from_address.point)">Ver mapa </a> </li>
                                        </ol>
                                </span>
                                </td>


                                <td> {{ order.to_address.full_address }} <br>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item" style="color: #1890FF;"> <a (click)="openDirection(order.to_address.point)">Ver mapa</a> </li>
                                    </ol>
                                </td>

                                <td> {{ order.order_date | date:'medium' }} </td>
                                <td> {{ order.date_delivered_order | date:'medium'}} </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Paginator -->
            <div class="col-lg-12 d-flex justify-content-end" *ngIf="!loadingOrders && orders.length > 0">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getPages($event)">
                </mat-paginator>
            </div>
            <!-- End Paginator -->


            <!-- Component no data -->
            <app-no-found-data *ngIf="!loadingOrders && orders.length == 0"  [message]="'No hay pedidos que mostrar'">
            </app-no-found-data>
            <!-- End Component no data -->
        </div>
    </div>
</div>