<ul class="navbar-nav bg-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard"
        routerLinkActive="active">
        <div>
        </div>
        <!--         <p> {{ station.station_name |slice:0:1 |lowercase }} </p>
 -->
        <div style="font-family: 'slant'; font-size: 150%;" class="sidebar-brand-text mx-3">SCOOTER</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Nav Item - Dashboard Collapso Menu -->
    <li class="nav-item cursor" routerLink="/dashboard" routerLinkActive="active">
        <a class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <!-- Nav Item - Fin the Dashboard Collapso Menu -->


    <!-- Nav Item - Statistics Collapso Menu -->
    <!-- <li class="nav-item" routerLink="/statistics/orders" routerLinkActive="active">
        <a class="nav-link">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Estadisticas </span></a>
    </li> -->
    <!-- Nav Item - Fin the Statistics Collapso Menu -->
    <!-- Divider -->
    <hr class="sidebar-divider">



    <!-- Heading -->
    <div class="sidebar-heading">
        Gestión
    </div>
    <!--     <li class="nav-item" routerLink="/merchants" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-store"></i>
            <span>Comercios</span>
        </a>
    </li> -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-clipboard-list"></i>
            <span>Pedidos</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Pedidos:</h6>
                <a class="collapse-item cursor" routerLink="/orders/news" routerLinkActive="active">Pedidos nuevos</a>
                <a class="collapse-item cursor" routerLink="/orders/process" routerLinkActive="active">Pedidos en
                    proceso</a>
                <a class="collapse-item" routerLink="/orders/delivered" routerLinkActive="active">Pedidos entregados</a>
                <a class="collapse-item" routerLink="/orders/cancelled" routerLinkActive="active">Pedidos rechazados</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <!--     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
            aria-controls="collapseThree">
            <i class="fas fa-fw fa-store"></i>
            <span>Pedidos comercios</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Pedidos:</h6>
                <a class="collapse-item cursor" routerLink="/merchant-orders/news" routerLinkActive="active">Pedidos nuevos</a>
                <a class="collapse-item cursor" routerLink="/merchant-orders/process" routerLinkActive="active">Pedidos en
                    proceso</a>
                <a class="collapse-item" routerLink="/merchant-orders/delivered" routerLinkActive="active">Pedidos entregados</a>
                <a class="collapse-item" routerLink="/merchant-orders/cancelled" routerLinkActive="active">Pedidos rechazados</a>
            </div>
        </div>
    </li> -->


    <!-- Nav Item - Vehicles Collapse Menu -->
    <!--     <li class="nav-item" routerLink="/vehicles/active" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-motorcycle"></i>
            <span>Vehiculos</span>
        </a>
    </li> -->
    <!-- Nav Item - Fin the Vehicles Collapse Menu -->


    <!-- Nav Item - Delivery Collapse Menu -->
    <li class="nav-item" routerLink="/delivery/active" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-car"></i>
            <span>Repartidores</span>
        </a>
    </li>
    <!-- Nav Item - Fin the Delivery Collapse Menu -->


    <!-- Nav Item - Clients Collapse Menu -->
    <!--     <li class="nav-item" routerLink="/client" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-users"></i>
            <span>Clientes</span>
        </a>
    </li> -->
    <!-- Nav Item - Fin the Clients Collapse Menu  -->


    <!-- Nav Item - Map the traicing Collapse Menu -->
    <li class="nav-item" routerLink="/traicing" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-map"></i>
            <span>Mapa de seguimiento</span>
        </a>
    </li>
    <li class="nav-item" routerLink="/zones" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-map-pin"></i>
            <span>Zonas</span>
        </a>
    </li>
    <!-- 
    <li class="nav-item" routerLink="/notifications" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-bell"></i>
            <span>Notificaciones</span>
        </a>
    </li> -->

    <!-- Fin Nav Item - Map the traicing Collapse Menu -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Informes
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item" routerLink="/reports" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>Reportes</span>
        </a>

    </li> -->
    <!--     <li class="nav-item" routerLink="/reports" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>Avisos</span>
        </a>

    </li> -->

    <li class="nav-item" routerLink="/profile" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configuración</span>
        </a>

    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseQuestion" aria-expanded="true" aria-controls="collapseQuestion">
            <i class="fas fa-fw fa-question"></i>
            <span>Evaluaciones a clientes <small class="badge badge-pill badge-info">v2</small></span>
        </a> -->
    <!-- <div id="collapseQuestion" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Evaluaciones</h6>
                <a class="collapse-item" href="register.html">Evaluaciones nuevas</a>
                <a class="collapse-item" href="register.html">Evaluaciones anteriores</a>
                <!--         <h6 class="collapse-header">FAQ</h6> -->
    <!--         <a class="collapse-item" href="register.html">Agregar pre. frecuente</a>
        <a class="collapse-item" href="register.html">Listado de FAQ</a> -->


    <!-- </div>
        </div> -->
    <!-- </li> -->


    <!-- Divider -->
    <!-- <hr class="sidebar-divider d-none d-md-block"> -->
    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Herramientas
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseNotice" aria-expanded="true" aria-controls="collapseNotice">
            <i class="fas fa-fw fa-folder"></i>
            <span>Atención al cliente <small class="badge badge-pill badge-info">v2</small> </span>
        </a>
       
    </li> -->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>