<!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner ">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown" [routerLink]="['/dashboard']" routerLinkActive="active">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-home"></i>
                    </span>
                    <span class="title">Inicio</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping-cart"></i>
                    </span>
                    <span class="title">Pedidos</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li routerLink="/orders/news" routerLinkActive="active">
                        <a>Nuevos</a>
                    </li>
                    <li routerLink="/orders/process" routerLinkActive="active">
                        <a>En proceso</a>
                    </li>
                    <li routerLink="/orders/delivered" routerLinkActive="active">
                        <a>Entregadas</a>
                    </li>
                    <li routerLink="/orders/cancelled" routerLinkActive="active">
                        <a>Ignoradas</a>
                    </li>
                </ul>
            </li>
            <!-- ====  -->
            <li routerLink="/delivery" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-car"></i>
                    </span>
                    <span class="title">Repartidores</span>
                </a>
            </li>

            <li routerLink="/traicing" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-compass"></i>
                    </span>
                    <span class="title">Mapa de seguimiento</span>
                </a>
            </li>
            <!-- ====  -->
            <!--             <li *ngIf="merchant.has_branches" routerLink="/branches" routerLinkActive="active"
                class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-apartment"></i>
                    </span>
                    <span class="title">Sucursales</span>
                </a>
            </li> -->
            <!-- ====  -->
            <!--             <li routerLink="/categories" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-tags"></i>
                    </span>
                    <span class="title">Categorías</span>
                </a>
            </li> -->
            <!-- ====  -->
            <!--             <li routerLink="/products" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-ordered-list"></i>
                    </span>
                    <span class="title">Productos</span>
                </a>
            </li> -->

            <!-- ====  -->
            <!--             <li routerLink="/reviews" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-star"></i>
                    </span>
                    <span class="title">Reseñas</span>
                </a>
            </li> -->

            <!-- ====  -->
            <!--             <li routerLink="/statement" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-credit-card"></i>
                    </span>
                    <span class="title">Resumén</span>
                </a>
            </li> -->



            <!-- ENTREGADO POR LA TIENDA  -->

            <!--             <hr *ngIf="merchant.is_delivery_by_store">
 -->
            <!-- <span style="font-size: 90%; margin-left: 15px;">Gestión de envíos</span> -->


            <!-- ====  -->
            <li routerLink="/zones" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-environment"></i>

                    </span>
                    <span class="title">Zonas de entregas</span>
                </a>
            </li>
            <!-- ====  -->
            <li routerLink="/support" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-message"></i>
                    </span>
                    <span class="title">Soporte</span>
                </a>
            </li>
            <!-- ====  -->
            <li routerLink="/profile" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-setting"></i>
                    </span>
                    <span class="title">Configuración</span>
                </a>
            </li>

            <hr>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping-cart"></i>
                    </span>
                    <span class="title">Ordenes Comercios</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li routerLink="/merchant-orders/news" routerLinkActive="active">
                        <a>Nuevos</a>
                    </li>
                    <li routerLink="/merchant-orders/process" routerLinkActive="active">
                        <a>En proceso</a>
                    </li>
                    <li routerLink="/merchant-orders/delivered" routerLinkActive="active">
                        <a>Entregadas</a>
                    </li>
                    <li routerLink="/merchant-orders/cancelled" routerLinkActive="active">
                        <a>Ignoradas</a>
                    </li>
                </ul>
            </li>


            <!-- ====  -->
            <li routerLink="/promotions" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-tag"></i>
                    </span>
                    <span class="title">Promociones</span>
                </a>
            </li>

            <!--   -->
            <li routerLink="/notifications" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-bell"></i>
                    </span>
                    <span class="title">Enviar Notificaciones</span>
                </a>
            </li>

            <li routerLink="/merchants" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping"></i>
                    </span>
                    <span class="title">Comercios</span>
                </a>
            </li>

            <li routerLink="/clients" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-contacts"></i>
                    </span>
                    <span class="title">Usuarios registrados</span>
                </a>
            </li>

            <!-- TERMINA ENTREGADO POR LA TIENDA  -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping-cart"></i>
                    </span>
                    <span class="title">Administración</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li routerLink="/merchant-orders/news" routerLinkActive="active">
                        <a>Tags</a>
                    </li>
                    <li routerLink="/merchant-orders/process" routerLinkActive="active">
                        <a>FAQ</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Side Nav END -->