<ul class="navbar-nav bg-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
<!--     <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div> -->
    <div class="sidebar-brand-text mx-3">{{station.station_name | titlecase}}</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item cursor" >
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <li class="nav-item" routerLink="/statistics">
    <a class="nav-link">
      <i class="fas fa-fw fa-chart-line"></i>
      <span>Estadisticas</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Gestión
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="k#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-clipboard-list"></i>
      <span>Pedidos</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Pedidos:</h6>
        <a class="collapse-item cursor" routerLink="/orders/news" routerLinkActive="active">Pedidos nuevos</a>
        <a class="collapse-item cursor" routerLink="/orders/process" routerLinkActive="active">Pedidos en proceso</a>
        <a class="collapse-item" routerLink="/orders/delivered" routerLinkActive="active">Pedidos entregados</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-car"></i>
      <span>Vehiculos</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Vehiculos</h6>
        <a class="collapse-item" href="utilities-color.html">Agregar vehiculo</a>
        <a class="collapse-item" href="utilities-color.html">Listado de vehiculos</a>
      </div>
    </div>
  </li>
   <!-- Nav Item - Utilities Collapse Menu -->
   <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClients" aria-expanded="true" aria-controls="collapseClients">
      <i class="fas fa-fw fa-users"></i>
      <span>Clientes</span>
    </a>
    <div id="collapseClients" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Clientes</h6>
        <a class="collapse-item" href="utilities-color.html">Listado de clientes</a>

      </div>
    </div>
  </li>

     <!-- Nav Item - Utilities Collapse Menu -->
     <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="fas fa-fw fa-map"></i>
        <span>Mapa de seguimiento</span>
      </a>
<!--       <div id="collapseAuctions" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Subastas</h6>
          <a class="collapse-item" href="utilities-color.html">Agregar subasta</a>
          <a class="collapse-item" href="utilities-color.html">Subastas activas</a>
          <a class="collapse-item" href="utilities-color.html">Subastas vencidas</a>
  
        </div>
      </div> -->
    </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Informes
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#">
      <i class="fas fa-fw fa-dollar-sign"></i>
      <span>Reportes</span>
    </a>
    <!-- <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Historial</h6>
        <a class="collapse-item" href="login.html">Ventas pendientes</a>
      </div>
    </div> -->
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQuestion" aria-expanded="true" aria-controls="collapseQuestion">
      <i class="fas fa-fw fa-question"></i>
      <span>Evaluaciones a clientes</span>
    </a>
    <div id="collapseQuestion" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Evaluaciones</h6>
        <a class="collapse-item" href="register.html">Evaluaciones nuevas</a>
        <a class="collapse-item" href="register.html">Evaluaciones anteriores</a>
<!--         <h6 class="collapse-header">FAQ</h6> -->
<!--         <a class="collapse-item" href="register.html">Agregar pre. frecuente</a>
        <a class="collapse-item" href="register.html">Listado de FAQ</a> -->


      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
<!--   <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li> -->

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading">
      Herramientas
    </div>

  <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNotice" aria-expanded="true" aria-controls="collapseNotice">
        <i class="fas fa-fw fa-folder"></i>
        <span>Atención al cliente</span>
      </a>
      <div id="collapseNotice" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="404.html">404 Page</a>
          <a class="collapse-item" href="blank.html">Blank Page</a>
        </div>
      </div>
    </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>