<div class="container">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Notificaciones</h1>
    </div>


    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Notificaciones para usuarios</h6>
                </div>
                <div class="card-body">
                    <div class="card p-3" style="width: 100%;">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mensaje a envíar</label>
                                <textarea placeholder="Ingresa el texto" class="form-control" name="" id="" cols="20" rows="10"></textarea>
                                <small id="emailHelp" class="form-text text-muted">Máximo 300 caracteres</small>
                            </div>
                        </form>
                        <button class="btn btn-secondary">Enviar</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Notificaciones para comercios</h6>
                </div>
                <div class="card-body">
                    <div class="card p-3" style="width: 100%;">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mensaje a envíar</label>
                                <textarea placeholder="Ingresa el texto" class="form-control" name="" id="" cols="20" rows="10"></textarea>
                                <small id="emailHelp" class="form-text text-muted">Máximo 300 caracteres</small>
                            </div>
                        </form>
                        <button class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>