<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <h1 class="h3 mb-0 text-gray-800">Preguntas frecuentes</h1>
        <div clas class="p-t-10">
            <button class="btn btn-secondary btn-sm" (click)="openDialogAddGroup()">Agregar grupo</button>
            <span class="p-l-15"></span>
            <button class="btn btn-primary btn-sm" (click)="openDialogAddFaq()">Agregar pregunta</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-lg-12 p-t-15">

            <div class="row">
                <div class="col-md-9 col-lg-9"></div>
                <!-- Search by -->
                <div class="col-md-3 col-lg-3 col-sm-12 p-b-10">
                    <div class="input-group">
                        <input #searchInput (keyup.enter)="searchBy(searchInput.value)" [(ngModel)]="searchText" type="text " class="form-control fm-size " placeholder="Buscar por nombre " aria-label="Username " aria-describedby="basic-addon1 ">
                        <div class="input-group-prepend cursor " (click)="searchBy(searchInput.value) ">
                            <span *ngIf="!params.search" class="input-group-text " id="basic-addon1 ">
                                <i class="fas fa-search "></i>
                            </span>
                            <span *ngIf="params.search != ''" (click)="clearSearch()" class="input-group-text cursor" id="basic-addon2">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- End search by -->
            </div>
        </div>





        <div class="col-lg-12 p-t-15">
            <!-- Preloader  -->
            <div class="col-lg-12 d-flex justify-content-center" *ngIf="loadingFaq">
                <div class="spinner-border text-primary my-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- End Preloader  -->


            <div class="col-md-12 col-lg-12" *ngIf="!loadingFaq && faqs.length > 0 ">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Grupo</th>
                                <th scope="col">Título</th>
                                <th scope="col">Pregunta</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let faq of faqs">
                                <td> {{ faq.group }} </td>
                                <td> {{ faq.title }} </td>
                                <td> {{ faq.answer }} </td>
                                <td class="text-center">
                                    <button class="btn btn-info btn-sm m-b-5" style="width: 90%;" (click)="openDialogAddFaq(faq)">Editar</button>
                                    <button class="btn btn-primary btn-sm" style="width: 90%;" (click)="dialogDeleteFaq(faq)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Componet no data -->
            <app-no-found-data *ngIf="!loadingFaq && faqs.length == 0"  [message]="'No hay preguntas que mostrar'">
            </app-no-found-data>
            <!-- End coponent no data -->
        </div>
    </div>
</div>