<h3 mat-dialog-title class="d-flex justify-content-between">
    Agregar grupo
    <button mat-dialog-close mat-flat-button class="btn btn-light">
        <i class="anticon anticon-close"></i>
    </button>
</h3>


<div class="container">
    <div class="row">
        <div class="col-md-12 ">

            <form [formGroup]="groupForm">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Nombre</label>
                        <input formControlName="name" type="text " class="form-control" placeholder="Nombre" [ngClass]="(isFieldInvalid(groupForm, 'name'))? 'is-invalid': 'valid'">
                        <!-- Message Errors -->
                        <div class="invalid-feedback">
                            <span *ngIf="hasFieldError(groupForm, 'name','required')">Este campo es
                            requerido</span>
                        </div>
                    </div>
                </div>
            </form>


            <div class="d-flex justify-content-end">
                <button class="btn btn-light btn-sm m-r-20 " mat-dialog-close>Cancelar</button>
                <button [disabled]="loadingSave" (click)="createGroup()" type="submit" class="btn btn-primary btn-sm">
                    Guardar
                    <div *ngIf="loadingSave" class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                </button>
            </div>
        </div>
    </div>
</div>