<div class="container-fluid" >

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> Configuración </h1>
    </div>

    <mat-progress-bar *ngIf="!station" color="accent" class="my-3" mode="indeterminate"></mat-progress-bar>

    <!-- Row -->
    <div class="row" *ngIf="station">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <app-card-general-info [station]="station"></app-card-general-info>
        </div>
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <!-- <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Datos</a> </li> -->
                    <li class="nav-item"> <a class="nav-link" routerLink="general" routerLinkActive="active" data-toggle="tab" href="#profile"
                            role="tab">General</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="rates" routerLinkActive="active" data-toggle="tab" href="#settings" role="tab">
                        Tarífas y servicios</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="address" routerLinkActive="active" data-toggle="tab" href="#settings"
                            role="tab">Dirección</a> </li>
<!--                     <li class="nav-item"> <a class="nav-link" routerLink="schedule" routerLinkActive="active" data-toggle="tab" href="#settings" role="tab">Horario</a>
                    </li> -->
                    <li class="nav-item"> <a class="nav-link" routerLink="promotions" routerLinkActive="active" data-toggle="tab" href="#settings" role="tab">Promociones</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="others" routerLinkActive="active" data-toggle="tab" href="#settings" role="tab">Otros</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
                   