<div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <h2>Usuarios</h2>
    </div>


    <div class="row p-t-20">
        <!-- Order by -->
        <div class="col-md-2 p-b-10">
            <select class="form-control" [(ngModel)]="params.ordering" (change)="orderBy($event.target.value)">
                <option value="">Ordenar por</option>
                <option value="-customer_name">Nombre</option>
                <option value="-customer_reputation">Reputación</option>
                <option value="-total_orders">Total de órdenes</option>
                <option value="-total_orders_cancelled">Órdenes canceladas</option>
            </select>
        </div>
        <div class="col-md-7"></div>
        <!-- Search by -->
        <div class="col-md-3 p-b-10">
            <div class="input-group">
                <input #searchInput (keyup.enter)="searchBy(searchInput.value)" [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar">
                <div class="input-group-prepend cursor" (click)="searchBy(searchInput.value)">
                    <span *ngIf="!params.search" class="input-group-text">
                        <i class="anticon anticon-search"></i>
                    </span>
                    <span *ngIf="params.search != ''" (click)="clearSearch()" class="input-group-text">
                        <i class="anticon anticon-close"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="row p-t-10">
        <!-- Shared components -->
        <div class="col-md-12 d-flex justify-content-center">
            <app-loading-data *ngIf="loadingData"></app-loading-data>
            <app-no-found-data *ngIf="!loadingData && clients.length == 0"></app-no-found-data>
        </div>

        <!-- Paginator -->
        <div class="col-md-12 d-flex justify-content-end" *ngIf="!loadingData && clients.length > 0">
            <mat-paginator (page)="pageEvent = getPages($event)" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>

        <div class="col-md-12" *ngIf="!loadingData && clients.length > 0">
            <app-client-list [clients]="clients"></app-client-list>
        </div>

        <div class="col-md-12 d-flex justify-content-end" *ngIf="!loadingData && clients.length > 0">
            <mat-paginator (page)="pageEvent = getPages($event)" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>
    </div>
</div>