<div class="container">
    <div>
        <h2>Tipo de promociones</h2>
    </div>
    <div class="row m-t-15">
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="m-0">Eastern Sack</h4>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-sm ">Crear promoción</button>
                        </div>
                    </div>
                    <div class="m-t-10">
                        <h6>Descripción</h6>
                        <p>I've made a huge tiny mistake. Don't worry, these young beauties have been nowhere near the bananas. You don't want a hungry dove down your pants. Caw ca caw, caw ca caw, caw ca caw, caw ca caw. I'm in Vegas this week and would
                            like to point out the Blue Man Group is *actually* hiring. The support group? Oh, like when they say "poofter" to mean "tourist", yes.</p>
                        <p>Ah, it is a rock, though. Should beat everything. Gob: There's not a lot of logic to it. Let's make Ann the backup, okay? Very good way to think about her, as a backup.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>