.content {
    background: white;
    padding: 10px;
}

.table {
    font-size: 90%;
}

.thead {
    color: white;
}

.btn-mas {
    color: blue;
}

.btn-edit {
    color: green;
}

.btn-remove {
    color: red;
}