/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: dalgona;
    src: url('./assets/fonts/Dalgona.ttf');
  }
@font-face {
    font-family: aspira;
    src: url('./assets/fonts/Aspira.ttf');
  }