<div class="container">
    <div class="card" *ngIf="merchant">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="d-md-flex align-items-center">
                        <div class="text-center text-sm-left ">
                            <div class="avatar avatar-image" style="width: 150px; height:150px">
                                <img [src]="merchant.picture" alt="">
                            </div>
                        </div>
                        <div class="text-center text-sm-left m-v-15 p-l-30">
                            <h2 class="m-b-5"> {{merchant.merchant_name}} </h2>
                            <p class="text-opacity font-size-13"> {{ merchant.contact_person }} </p>
                            <div class="d-flex align-items-center m-t-10">
                                <h3 class="m-b-0 m-r-10 font-weight-normal"> {{ merchant.reputation }} </h3>
                                <span><i *ngFor="let item of [1,2,3,4,5]" class="not__qualification fas fa-star" [ngClass]="{'start__decoration': (item <= merchant.reputation ) } " ></i></span> <br>
                            </div>
                            <p><span class="font-weight-bold"> {{ merchant.total_grades }} </span>Calificaciones</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="d-md-block d-none border-left col-1"></div>
                        <div class="col">
                            <ul class="list-unstyled m-t-10">
                                <li class="row">
                                    <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-mail"></i>
                                        <span>Correo </span>
                                    </p>
                                    <p class="col font-weight-semibold"> {{ merchant.email }} </p>
                                </li>
                                <li class="row">
                                    <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-phone"></i>
                                        <span>Teléfono</span>
                                    </p>
                                    <p class="col font-weight-semibold"> {{ merchant.phone_number }} </p>
                                </li>
                                <li class="row">
                                    <p class="col-sm-4 col-5 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-compass"></i>
                                        <span>Ubicación</span>
                                    </p>
                                    <p class="col font-weight-semibold"> {{ merchant.full_address }} </p>
                                </li>
                                <li class="row">
                                    <p class="col-sm-4 col-5 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-clock-circle"></i>

                                        <span>Preparación </span>
                                    </p>
                                    <p class="col font-weight-semibold"> <span>
                                        <span>de {{ merchant.from_preparation_time }} </span>
                                        <span>a</span>
                                        <span> {{ merchant.to_preparation_time }} </span> minutos
                                        </span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <!-- Desciption -->
                    <h5>Descripción </h5>
                    <p> {{ merchant.description }} </p>
                    <hr>
                    <!-- Tags merchant -->
                    <app-tab-merchant-tags></app-tab-merchant-tags>
                    <!-- Ratings -->
                    <h5>Ratings </h5>
                    <app-tab-reviews></app-tab-reviews>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Horario</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Dia</th>
                                    <th scope="col" class="text-center">Apertura</th>
                                    <th scope="col" class="text-center">Cierre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let schedule of merchant.schedules">
                                    <td>{{ schedule.schedule }}</td>
                                    <td class="text-center" *ngIf="schedule.is_open"> {{ schedule.from_hour}} </td>
                                    <td class="text-center" *ngIf="schedule.is_open"> {{ schedule.to_hour }} </td>
                                    <td class="text-center text-danger" colspan="2" *ngIf="!schedule.is_open">Cerrado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>