<div class="header__modal">
    <div class="close">
        <i mat-dialog-close class="fas fa-close"></i>
    </div>
</div>

<h3>Rechazar orden del comercio</h3>

<div class="row d-flex justify-content-center">
    <div class="col-md-11">
        <form [formGroup]="rejectForm">
            <div class="form-group">
                <label>Ingresa la razón de rechazo</label>
                <input formControlName="reason_rejection" type="text" class="form-control-eco w-100" [ngClass]="{'has-error error': isFieldInvalid(rejectForm, 'reason_rejection'),
                  'has-success valid': isFieldValid(rejectForm, 'reason_rejection')}">


                <div class="message-errors" *ngIf="isFieldInvalid(rejectForm, 'text')">
                    <span *ngIf="hasFieldError(rejectForm, 'text','required')">Este campo es requerido</span>
                    <span *ngIf="hasFieldError(rejectForm, 'text','maxlength')">Ingresa maximo 10 caracteres</span>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="mt-2 d-flex justify-content-center">
    <button [disabled]="loadingSave" (click)="rejectOrder()" class="btn btn-primary w-50">
        <span *ngIf="!loadingSave">Rechazar orden </span>
        <div  *ngIf="loadingSave" class="spinner-border" role="status">
            <span class="sr-only">
                Loading...
            </span>
       </div>
    </button>
</div>